@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body,html {
  background-color: white;
  -webkit-font-smoothing: antialiased;
  overflow-x:hidden;
  height: 100%;
  width: 100%;
}
.Toastify__toast {
  padding: 0;
}

#root{
    height: 100%;
    width: 100%;
}
