@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body,html {
  background-color: white;
  -webkit-font-smoothing: antialiased;
  overflow-x:hidden;
  height: 100%;
  background-color: var(--background);
  color: var(--foreground);
  width: 100%;
}
.Toastify__toast {
  padding: 0;
}

#root{
    height: 100%;
    width: 100%;
}

[data-theme="dark"] {
  --background: #171717;
  --foreground: #3B82F6;
  --itemsToolbar: white;
}