.markdown-body strong,
.markdown-body b {
  font-weight: bold;
}

.markdown-body em,
.markdown-body i {
  font-style: italic;
}

.markdown-body h1 {
  font-size: 2.5rem;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 10px;
}

.markdown-body h2 {
  font-size: 2rem;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 10px;
}

.markdown-body h3 {
  font-size: 1.75rem;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 10px;
}

.markdown-body h4 {
  font-size: 1.5rem;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 10px;
}

.markdown-body ul {
  list-style-type: disc;
  padding-left: 20px;
}

.markdown-body li {
  margin-bottom: 5px;
}

.markdown-body code {
  background-color: #dfd5d5;
  padding: 2px 6px;
  border-radius: 4px;
  font-size: 1.3rem;
  font-weight: bold;
}

.markdown-body {
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.markdown-body pre,
.markdown-body code {
  white-space: pre-wrap;
  word-break: break-word;
}



